footer{
    background-color: #264653;
}
button{
    background-color: #E76F51;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .footer-links {
      flex-direction: column; /* Cambia a columna en móviles */
      align-items: center;
    }
  }

  