nav{
    background-color: #264653;
}
a{
    color: white;
    text-decoration: none;
}

.search-results {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    width: 40%;
  }
  
  .search-results li {
    padding: 5px 0;
  }
  
  .search-results li a {
    text-decoration: none;
    color: #333;
  }
  
  .search-results li a:hover {
    color: #007bff;
  }

  
  
  
  @media (max-width: 768px) {
    .d-flex {
      flex-direction: column;
    }
  
    .w-50 {
      width: 100%;
    }
  
    .search-results {
      width: calc(100% - 20px); /* Ajustar según el padding */
    }
  
    .flex-row {
      flex-direction: column;
      align-items: center;
    }
  
    .gap-4 {
      gap: 10px;
    }
  
    .m-2 {
      margin: 5px;
    }
  
    img {
      width: 40px; /* Ajustar tamaño de íconos */
    }
  }
  
  