.button1{
    background-color: #2A9D8F;
}
.button2{
    background-color: #264653;
}
.button3{
    background-color: #E76F51;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        padding: 10px;
    }
}
